.error-section {
  .error-heading-wrapper {
    background: url('../img/backgrounds/404-bg.svg') no-repeat bottom center;
    background-size: contain;
    h1 {
      span {
        color: $secondary;
        font-size: 15rem;
        line-height: 17rem;
      }
    }
  }
}
